/*
    Document   : app/public/assets/css/custom．css
    Created on : 2014-10-30 01:01 AM
    Author     : ramakrishna
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
/*
body{
    
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 2px solid #ddd;
    border-radius: 0;
    color: #666;
    padding: 12px;
}
select {
    background-color: #ffffff;
    border: 2px solid #ddd;
    height: 50px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0;
 }
*/
body{
	font-family: 'Open Sans', sans-serif;
}
